.chatizo-msg-main{
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.chatizo-msg-bubble{
  margin: 5px 10px;
  padding: 5px 10px;
  max-width: 70%;
  box-shadow: 0 0 0.25cm rgba(163, 94, 40, 0.349);
  cursor: pointer;
  min-width: 100px;
}

.chatizo-msg-bubble.in{
  float: left;
  color: rgba(51, 51, 51, 1);
  border-radius: 10px;
}

.chatizo-msg-bubble.out{
  float: right;
  color: white;
  border-radius: 10px;
  background: rgba(74, 98, 136, 1);
}